h1, h2, h3{
    color : blue;
}

#intro{
    font-style: italic ;
    font-size: 18px;
}

.poste{
    text-decoration: underline;
    font-weight: bold;
    color: #6d071a;
}

td{
    border-bottom: 2px solid grey;
    padding-right: 20px;
    text-overflow: wrap;
    min-width: 80px;
    max-width: 350px;
    padding: 15px;
}

table{
    border-collapse: collapse;
    background-color: #E0CDA9;
}

#htmlCss{
    color: red;
    font-weight: bold;
}